:root{
    --pagemargin : 16rem;
}

body
{
    position: relative;
    z-index: 1;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.wbg
{
    background-color: white;
}
.tbg
{
    background-color: white;
}
.blbg
{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}
.rbg
{
    background-color: red;
}
.gbg
{
    background-color: greenyellow;
}
.obg
{
    background-color: #f72;
}
*{
    padding: 0%;
    margin: 0%;
    transition-property: all;
    transition-duration: 0.3s;
    cursor: context-menu;
    font-family: Arial,Helvetica,sans-serif;
    outline: none;
    box-sizing: border-box;
}
.v-flex {
    display: flex;
    flex-direction: column;
}

.c-c {
    justify-content: center;
    align-items: center;
}
.sb-c {
    justify-content: space-between;
    align-items: center;
}
.h-flex {
    display: flex;
    flex-direction: row;
}
.fs-fe
{
    justify-content: flex-start;
    align-items: flex-end;
}
.fs-fs
{
    justify-content: flex-start;
    align-items: flex-start;
}
.fs-c
{
    justify-content: flex-start;
    align-items: center;
}
.fe-fs
{
    justify-content: flex-end;
    align-items: flex-start;
}
.fe-c
{
    justify-content: flex-end;
    align-items: center;
}
.fe-fe
{
    justify-content: flex-end;
    align-items: flex-end;
}
.c-fs
{
    justify-content: center;
    align-items: flex-start;
}
.ndis,#Show_more
{
    display: none;
}
.dis
{
    display: block;
}
.c-fe
{
    justify-content: center;
    align-items: flex-end;
}
.sb-fs
{
    justify-content: space-between;
    align-items: flex-start;
}
.sb-fe
{
    justify-content: space-between;
    align-items: flex-end;
}
.sa-c
{
    justify-content: space-around;
    align-items: center;
}
.sa-fs
{
    justify-content: space-around;
    align-items: flex-start;
}
.sa-fe
{
    justify-content: space-around;
    align-items: flex-end;
}

.mxpw
{
    width: 100%;
}
.mxph
{
    height: 100%;
}
.hauto
{
    height: auto;
}
.wauto
{
    width: auto;
}
.fg1
{
    flex-grow: 1;
}
.mxvw
{
    max-width: 100vw;
    min-width: 98vw;
}
.mxvh
{
    height: 100vh;
}
.ofla
{
    overflow: auto;
}
.l-flt
{
float: left;
}
.r-flt
{
    float: right;
}
.pgw
{
    width: calc(100vw - var(--pagemargin));
}
.ml05
{
    margin-left: 0.5rem;
}
.ml03
{
    margin-left: 0.3rem;
}
.mla
{
    margin-left: auto;
}
.mra
{
    margin-right: auto;
}
.ml1
{
    margin-left: 1rem;
}
.p02
{
    padding: 0.2rem;
}
.p1
{
    padding: 1;
}
.mr05
{
    margin-right: 0.5rem;
}
.mr1
{
    margin-right: 1rem;
}
.mr2
{
    margin-right: 2rem;
}
.mb1
{
    margin-bottom: 1rem;
}
.mb05
{
    margin-bottom: 0.5rem;
}
.mb2
{
    margin-bottom: 2rem;
}
.mt01
{
    margin-top: 1rem;
}
.mt1
{
    margin-top: 1rem;
}
.mtauto{
    margin-top: auto;
}
.mt2
{
    margin-top: 2rem;
}
.mt05
{
    margin-top: 0.5rem;
}
.mta
{
    margin-top: auto;
}
.mr01
{
    margin-right: 1rem;
}
.mr4
{
    margin-right: 4rem;
}
.pl05
{
    padding-left: 0.5rem;
}
.pr05
{
    padding-right: 0.5rem;
}
.pr1
{
    padding-right: 1rem;
}
.pl1
{
    padding-left: 1rem;
}
.p1
{
    padding: 1rem;
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.wmc
{
    width: min-content;
}
.fsk
{
    flex-shrink: 1;
}
.nav > div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
    width: calc(100% - var(--pagemargin));
}
.nav > div > div
{

}
.btn{
    padding:  0.5rem 1rem;
    border: none;
}
.bbtn
{
    background-color: rgb(44, 44, 44);
    color: white;
}
.obtn{
    background-color: #f72;
    color: white;
}
.gbtn{
    background-color: rgb(236, 236, 236);
    color: white;
}
.nbgbtn
{
    background: none;
    color: black;
}
.fmit
{
    height: 3.7rem;
    
}
.fmsh-c
{
    height: 1rem;
}
.fmsh
{
display: none;
transition-property:none;
transition-duration: none;
}
.irph
{
    padding-left: 0.3rem;
    height: 2rem;
}
.iprw
{
    width: 400px;
    
}
.fmer
{
    display: none;
    transition-property:none;
    transition-duration: none;
}
.sdw
{
    box-shadow: 0 5px 6px 4px rgba(0, 0, 0, 0.2);
}
.ovfscl
{
    overflow: scroll;
}.imgr
{
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
}














.forward
{
    position: relative;
    z-index: 111;
}

.closer
{
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.pop
{
    max-width: calc(100vw - 0.5rem);
    
}
.fix
{
     
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    z-index: 100;
    display: none;
    top:0;
    left:  0;
}
.scrollable
{
    
    white-space: nowrap;
    overflow-y: scroll
}
.dit{
    width: 300px;
    float: left;
    display: flex;
   align-items: center;
   justify-content: center;
}


.dit > div{
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color:bisque;
}
.dit > div >div
{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.dit > div >div img
{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.dit > div  img
{
    width: 100%;
     
}
.dit > div >div span
{
    font-size: 2rem;
}


@media screen and (max-width: 510px) 
{
    :root 
    {
        --pagemargin : 0rem;
        --taxkWidth: 90vw;
    }
}
@media screen and (max-width: 768px) 
{
    .fres
    {
        font-size: 1.7rem;
    }
    :root 
    {
        --pagemargin : 2rem;
    }
}